### Importing Basic libraries

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
df = pd.read_csv('./twitter.csv')
df.head()

,id,entity,target,text
0,2401,Borderland,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [19]:
df.columns

Index(['id', 'entity', 'target', 'text'], dtype='object')

Since we won't need the id and entity column, I'll just drop it

In [20]:
df.drop(['id', 'entity'], axis=1, inplace=True)

In [21]:
df.isnull().sum()

target      0
text      686
dtype: int64

In [22]:
df.duplicated().sum()

4909

In [23]:
round((2700 + 686)/df.shape[0] *100, 3)

4.534

Since the null values and duplicated rows are below 5%, we can drop it

In [26]:
df.drop_duplicates(inplace=True)
df.dropna(inplace=True)
df.tail()

         target                                               text
74677  Positive  Just realized that the Windows partition of my...
74678  Positive  Just realized that my Mac window partition is ...
74679  Positive  Just realized the windows partition of my Mac ...
74680  Positive  Just realized between the windows partition of...
74681  Positive  Just like the windows partition of my Mac is l...

In [25]:
df.shape

(69769, 2)